* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: #0E1B1F;
    color: #EAFBF4;
    line-height: 1.6;
}

/* HERO */
.hero {
    position: relative;
    height: 90vh;
    background: radial-gradient(circle at top, #00C18C, #0E1B1F);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.logo {
    width: 220px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #39FF88;
}

.hero p {
    font-size: 1.1rem;
}

/* SECTIONS */
section {
    padding: 70px 10%;
}

h2 {
    color: #39FF88;
    margin-bottom: 25px;
    text-align: center;
}

.about p {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

/* SEGMENTS */
   .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}



.card {
    background: #122A2F;
    border-left: 4px solid #39FF88;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
    
}



.card:hover {
    transform: translateY(-5px);
    background: #16353C;
}

/* VALUES */
.values ul {
    list-style: none;
    max-width: 500px;
    margin: auto;
}

.values li {
    padding: 10px 0;
    font-size: 1.05rem;
}

/* CONTACT */
.contact {
    background: #122A2F;
    text-align: center;
}

.contact p {
    margin: 10px 0;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0A1518;
    font-size: 0.9rem;
}


